@mixin num($w, $h) {
    width:$w;
    height:$h;
}
@mixin flex($j: center) {
    display: flex;
    justify-content: $j;
    align-items: center;
}
html, body, .wrapper{
    @include num(100%, 100%);
}
.btn{
    @include num(1rem, .4rem);
    border:0;
    margin:.3rem;
    background:#09f;
    color:#fff;
    border-radius: .05rem;
    font-size: .28rem;
}
.box{
    position: fixed;
    left:0;
    top:0;
    @include num(100%, 100%);
    background:rgba(0,0,0,.3);
    display: flex;
    flex-direction: column;
}
.header{
    @include num(100%, .5rem);
    background:#393a3f;
    position: relative;
    padding: 0 .48rem;
    span{
        position: absolute;
        font-size: .18rem;
        color:#fff;
        top:.15rem;
        &:first-child{
            left:.15rem;
        }
        &:last-child{
            right:.15rem;
        }
        em{
            display: block;
            width:.05rem;
            height:.05rem;
            border-radius: 50%;
            background:#fff;
            margin: .02rem 0;
        }
    }
    p{
        font-size: .2rem;
        padding-left:.15rem;
        color:#fff;
        border-left: 1px solid #1b1b1d;
        line-height:.26rem;
        margin-top:.12rem;    
    }
}
.main{
    flex:1;
    display: relative;
}
.inset{
    @include num(80%, auto);
    position: absolute;
    left:10%;
    top:50%;
    transform: translateY(-50%);
    background:#fff;
    border-radius: .1rem;   
}
.top{
    text-align: center;
    padding-top:.32rem;
    @include num(100%, auto);
    img{
        display: block;
        @include num(40%, auto);
        margin: 0 auto;
    }
    h3{
        font-size: .16rem;
        color:#46494e;
        line-height: .42rem;
    }
}
.form{
    @include num(80%, auto);
    margin:0 auto;
    padding-bottom:.85rem;
    p{
        margin-top:.34rem;
        height:.37rem;
        border-bottom:1px solid #878988;
        @include flex;
        &:last-child{
            border:0;
            padding: 0;
            button{
                @include num(100%, .38rem);
                background: #2fba77;
                font-size: .14erm;
                color:#fff;
                border:0;
                border-radius: .05rem;
            }
        }
        img{
            @include num(.14rem, auto);
        }
        padding-left: .15rem;
        input{
            flex:1;
            border:0;
            padding-left: .15rem;
            font-size: .14rem;
        }
    }
}

